<div class="mosh-panel-container journal-entry-content">
    {{#each blocks}}
    <div class="mosh-panel-item" data-type="{{type}}" data-class="{{className}}">
        <div class="mosh-panel-label">{{label}}</div>
        <div class="mosh-panel-preview">{{{preview}}}</div>
    </div>
    {{/each}}
</div>
